<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>TextUtels</title>
</head>
<body>
    <h1>Welcome to the text analyazer. Enter Your Text Below : </h1>
    <form action="/analyze" method="get">
        <textarea name='text' style="width: 1488px; height: 205px;"></textarea>

        <input type="checkbox" name="removepunc">Remove Puncatations<br><br>
        <input type="checkbox" name="fullcaps">UPPER CASE<br><br>
        <input type="checkbox" name="fullsmall">lower case<br><br>
        <input type="checkbox" name="countchar">Count Char<br><br>
        
        <button type="Submit">Analyze Text</button>



    </form>
    <!-- <h2>{{ Name }} know lang {{ Programmng_Language }}</h2> -->


    
</body>
</html>